<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NotifyEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NotifyEx.Properties.Settings>
            <setting name="EnabledShipNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningShipCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnabledLowHpNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledSlotNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningSlotCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="EnabledShowDamageControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledSortieSupplyNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledExerciseSupplyNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledExpenditionSupplyNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledSupplyNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledEventShipNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EventWarningShipCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EnabledEventSlotNotifier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EventWarningSlotCount" serializeAs="String">
                <value>20</value>
            </setting>
        </NotifyEx.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
